@use '@/styles/variables/typography.scss' as typo;
.app-container {
  // font-family: 'Poppins-Black';
  font-family: typo.$main-family-black, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  gap: 1rem;

}

main {
  background-color: aqua;

  p{
    color:blue;
  }
}
p{
  color:red
}
