section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  gap: 1rem;

  ul {
    width: min(100%, 600px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 0.5rem;
    place-items: center;
  }

  li {
    width: 100%;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 2px solid white;
    border-radius: 0.5rem;
  }

  .task-completed {
    border-color: green;
  }
  .task-in-progress {
    border-color: blue;
  }
}

